<h1 class="home-title">Welcome to my Todo Application</h1>
<h3 class="user-authenticate">
  If you are new user <%= link_to "signup here", new_user_path%>
</h3>
<h3 class="user-authenticate">
  If you are existing user <%= link_to "signin here", new_session_path%>
</h3>
