.user-header {
  margin-top: 80px;
  font-size: 20px;
  padding: 20px;
  background-color: #d2dae2;
  display: flex;
  justify-content: space-between;
  color: #1e272e;
}

.home-title {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.user-authenticate {
  font-size: 26px;
  margin-bottom: 20px;
}

/** styles for flash messages **/
.alert {
  margin-top: 50px;
  font-size: 20px;
  padding: 15px;
  padding-left: 40px;
  border-radius: 5px;
}

.alert-alert {
  background-color: #ff5e57;
  color: white;
}

.alert-notice {
  background-color: #9dd1e7;
  color: #222f3e;
}

.alert-success {
  background-color: rgb(140, 209, 186);
  color: #222f3e;
}
